version: "3.9"

services:
  rstudio:
    build:
      context: .
      dockerfile: Dockerfile
    platform: linux/amd64
    container_name: rstudio-server
    environment:
      - DISABLE_AUTH=true
    ports:
      - "8787:8787"
    volumes:
      - ./rstudio-data:/home/rstudio

